* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Gilroy-light'; */
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    /* font-family: "Wix Madefor Display", sans-serif; */
    font-weight: 300;
    /* font-style: normal; */
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

nav {

    height: 7.5vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

#icon {
    display: flex;
    align-items: center;
}

#icon .line {
    width: 0.1vh;
    height: 0.5vh;
    background-color: black;
}

#icon .circle {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

#nav_2 {
    display: flex;
    /* background-color: white; */
    gap: 3vw;

}

#nav_2 h4 {
    font-weight: 500;
    font-size: 1.5vh;
}

#nav_2 h4 span {
    margin-left: 10px;
}

#nav_0 {
    display: flex;
    align-items: center;
    height: 5vh;
    gap: 5vw;
    padding: 0 2.5vw;
    /* background-color: aquamarine; */
}

#nav_0 h3 {
    font-weight: 500;
    font-size: 1.75vh;
}

#content {
    /* background-color: antiquewhite; */
    width: 100%;
    height: calc(100% - 12.5vh);
}

#text_content {
    /* background-color: brown; */
    width: 100%;
    height: 45%;
    display: flex;
    padding: 12.5vh 10vw;
    /* padding-top: 10%; */
    /* padding-top: calc(100% - 99vw); */
    /* flex-wrap: nowrap; */
    overflow-x: auto;
}

#text_content::-webkit-scrollbar {
    /* display: none; */
    background-color: transparent;
    height: 0.5vw;
}

#text_content::-webkit-scrollbar-thumb {
    background-color: rgb(255, 157, 0);
}

.heading {
    /* display: flex; */
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    /* padding-top: 7.5%; */
    flex-shrink: 0;
    /* align-items: center;
    justify-content: center; */
    /* background-color: burlywood; */
    height: 100%;
    width: 95%;
    /* border: 1px solid black; */
}

.num{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: end;
    /* background-color: red; */
    font-size: 2.25vh;
    font-weight: 500;
}
.super{
    /* background-color: orange; */
    display: flex;
    align-items: end;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.25vh;

}
.heading h1 {
    /* background-color: yellow; */
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 7.5vw;
    display: flex;
    align-items: start;
    line-height: 1;
}

#image_content {
    width: 100%;
    height: 55%;
    /* background-image: url(img61.jpg); */
    /* background-size: cover; */
    /* background-position: top center; */
    display: flex;
    overflow-x: auto;
}

#image_content::-webkit-scrollbar {
    display: none;
}

#image_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    flex-shrink: 0;
}

@media (max-width:615px) {

    #nav_0 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        gap: 4vw;
        padding: 0 2.5vw;
        /* background-color: aquamarine; */
    }

    #nav_0 h3 {
        font-weight: 500;
        font-size: 2.5vw;
    }
    #text_content {
        padding: 12.5vh 7.5vw;

    }
    #text_content::-webkit-scrollbar {
        /* display: none; */
        background-color: transparent;
        height: 1vw;
    }
    .heading {
        height: 100%;
        width: 100%;

    }
    .heading h1 {
        font-size: 7vh;
    } 
    
}